

.quote{
    color: #cda274;
    background-color: #f4f0ec;
    border-radius: 50px;
    font-family: "DM Serif Display";
    font-size: 25px;
    line-height: 1.6;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    margin: 5%;
    align-items: center;
    gap: 10px;
}
