.wrapper{
    background-color: var(--color-primary);
    margin: 50px 0px;
    padding: 50px;
}

.title{
    text-align: center;
    color: var(--color-black);
    font-family: "DM Serif Display";
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
}


.details{
    text-align: center;
    letter-spacing: .01em;
    font-family: "Jost";
    font-size: 22px;
    line-height: 1.5;
    color: var(--color-lightblack);
}

.parentDiv{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 50px;
}

