:root{
  --color-primary : #f4f0ec;
  --color-lightblack : #4d5053;
  --color-black : #292f36;
  --color-white : #FFF
}

/* DM Serif Display */
@font-face {
  font-family: 'DM Serif Display';
  src: url('../public/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
  font-weight: 900; /* Black weight is typically 900 */
  font-style: normal;
}

/* Jost */
@font-face {
  font-family: 'Jost';
  src: url('../public/fonts/Jost/Jost-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}